.QuoteSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-image: url("../../../assets/images/background/nature2.png");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.QuoteSection .Title {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.QuoteSection p {
  font-size: 20px;
  color: white;
}

.Container {
  width: 50%;
}

.QuoteSection button {
  /* position: absolute; */
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
}
