.QuoteSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../../../assets/images/nature2.png");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.QuoteSection .Title {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.QuoteSection p {
  font-size: 20px;
  color: white;
}

.Container {
  width: 50%;
}

.QuoteSection button {
  position: absolute;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

/* Mobile Portrait */
@media (max-width: 640px) {
  .QuoteSection {
    background: none;
  }
}
