.Section {
  height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.Content {
  height: 100%;
  width: 100%;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: none;
}

.Content .Title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.Content p {
  font-size: 16px;
}

.Container {
  width: 50%;
}

.Content button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
}

/* Mobile */
@media (max-width: 768px) {
  .Section .Title {
    font-size: 25px;
  }

  .Section p {
    font-size: 10px;
  }
}

/* Tablet Portrait */
@media (min-width: 768px) {
  .Section .Title {
    font-size: 30px;
  }

  .Section p {
    font-size: 12px;
  }
}

/* Tablet Landscape */
@media (min-width: 1024px) {
  .Section {
    background-size: 120% 100%;
  }

  .Section .Title {
    font-size: 35px;
  }

  .Section p {
    font-size: 14px;
  }
}

/* Laptop */
@media (min-width: 1280px) {
  .Section {
    background-size: cover;
  }

  .Section .Title {
    font-size: 40px;
  }

  .Section p {
    font-size: 16px;
  }
}
