.VideoSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../../../assets/images/background/star-wallpaper.jpg");
  background-position: center;
  background-size: cover;
}

.VideoSection .Title {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.VideoPlayer {
  width: 640px;
  height: 400px;
}

.VideoSection button {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
}

/* Mobile Portrait */
@media (max-width: 640px) {
  .VideoPlayer {
    width: 420px;
    height: 280px;
  }
}

/* Mobile Landscape */
@media (min-width: 640px) {
  .VideoPlayer {
    width: 520px;
    height: 340px;
  }
}

/* Tablet Portrait */
@media (min-width: 768px) {
  .VideoPlayer {
    width: 620px;
    height: 400px;
  }
}

/* Tablet Landscape */
@media (min-width: 1024px) {
  .VideoPlayer {
    width: 720px;
    height: 460px;
  }
}

/* Laptop */
@media (min-width: 1280px) {
  .VideoPlayer {
    width: 900px;
    height: 520px;
  }
}
