.VideoSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/star-wallpaper.jpg");
}

.VideoPlayer {
  width: 640px;
  height: 400px;
}

.VideoSection button {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}
