.Section {
  height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.Section .Title {
  font-size: 50px;
  font-weight: bold;
}

.Section p {
  font-size: 21px;
  color: black;
}

.Container {
  width: 50%;
}

.Section a {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
}

/* Tablet Portrait */
@media (min-width: 768px) {
  .Section p {
    font-size: 25px;
  }
}

/* Tablet Landscape */
@media (min-width: 1024px) {
  .Section {
    background-size: 1400px 1000px;
  }

  .Section .Title {
    transform: translateX(-10vw);
  }

  .Section p {
    font-size: 28px;
    transform: translateX(-10vw);
  }

  .Section a {
    transform: translateX(-10vw);
  }
}

/* Laptop */
@media (min-width: 1280px) {
  .Section {
    background-size: auto;
  }

  .Section .Title {
    transform: translateX(-16vw);
  }

  .Section p {
    font-size: 28px;
    transform: translateX(-16vw);
  }

  .Section a {
    transform: translateX(-16vw);
  }
}
