.BookSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-image: url("../../../assets/images/background/home/books.jpg");
  font-family: "Montserrat", sans-serif;
  background-size: 2000px auto;
  background-repeat: no-repeat;
}

.BookSection .Title {
  font-size: 50px;
  font-weight: bold;
}

.BookSection p {
  font-size: 21px;
  color: black;
}

.Container {
}

.BookSection button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
}

@media (max-width: 768px) {
  .BookSection {
    background-position: right;
  }

  .BookSection p {
    font-size: 25px;
  }
}

/* Tablet Portrait */
@media (min-width: 768px) {
  .BookSection {
    background-position: right;
  }

  .BookSection p {
    font-size: 25px;
  }
}

/* Tablet Landscape */
@media (min-width: 1024px) {
  .BookSection {
    background-size: 1600px 1000px;
  }

  .BookSection .Title {
    transform: translateX(10vw);
  }

  .BookSection img {
    font-size: 28px;
    transform: translateX(10vw);
  }

  .BookSection button {
    transform: translateX(10vw);
  }
}

/* Laptop */
@media (min-width: 1280px) {
  .BookSection {
    background-size: 2000px 1000px;
  }

  .BookSection .Title {
    transform: translateX(16vw);
  }

  .BookSection img {
    font-size: 28px;
    transform: translateX(16vw);
  }

  .BookSection button {
    transform: translateX(16vw);
  }
}
