.Navbar {
  position: absolute;
  top: 3vh;
  left: 5%;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.Title {
  position: fixed;
  margin: 0 0;
  word-spacing: 0.2rem;
  letter-spacing: 0.2rem;
}

.Links {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.Links h4 {
  margin: 0 0;
  margin-left: 40px;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.Links a {
  color: white;
}

@media (max-width: 768px) {
  .Links h4 {
    display: none;
  }
}
