.Navbar {
  position: absolute;
  left: 5%;
  margin: 20px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.Title {
  word-spacing: 0.2rem;
  letter-spacing: 0.2rem;
}

.Links {
  display: flex;
  align-items: center;
}

.Links h4 {
  margin: 0 10px;
  letter-spacing: 0.2rem;
}
