.Footer {
  position: absolute;
  bottom: -200vh;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.Footer .Content {
  position: absolute;
  left: 5%;
  top: 20%;
  font-size: 20px;
  color: #999;
}

.Footer .Links {
  position: absolute;
  right: 5%;
  top: 20%;
  font-size: 30px;
}

.Footer .Links a {
  color: #999;
}
