.Footer {
  position: relative;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background-color: white;
}

.Footer .Content {
  font-size: 20px;
  color: #999;
}

.Footer .Links {
  font-size: 30px;
}

.Footer .Links a {
  color: #999;
}
