.AboutSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets//images/alan-watts.jpg");
  font-family: "Montserrat", sans-serif;
}

.AboutSection .Title {
  font-size: 50px;
  font-weight: bold;
}

.AboutSection p {
  font-size: 20px;
  color: black;
}

.Container {
  width: 50%;
}

.AboutSection button {
  border: none;
  background: none;
  cursor: pointer;
}
