.AboutSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-image: url("../../../assets/images/background/alan-watts.jpg");
  font-family: "Montserrat", sans-serif;
}

.AboutSection .Title {
  font-size: 50px;
  font-weight: bold;
}

.AboutSection p {
  font-size: 21px;
  color: black;
}

.Container {
  width: 50%;
}

.AboutSection button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
}

/* Tablet Portrait */
@media (max-width: 768px) {
  .AboutSection p {
    font-size: 16px;
  }
}

/* Tablet Portrait */
@media (min-width: 768px) {
  .AboutSection p {
    font-size: 20px;
  }
}

/* Tablet Landscape */
@media (min-width: 1024px) {
  .AboutSection {
    background-size: 1400px 1000px;
  }

  .AboutSection .Title {
    transform: translateX(-10vw);
  }

  .AboutSection p {
    font-size: 25px;
    transform: translateX(-10vw);
  }

  .AboutSection button {
    transform: translateX(-10vw);
  }
}

/* Laptop */
@media (min-width: 1280px) {
  .AboutSection {
    background-size: auto;
  }

  .AboutSection .Title {
    transform: translateX(-16vw);
  }

  .AboutSection p {
    font-size: 28px;
    transform: translateX(-16vw);
  }

  .AboutSection button {
    transform: translateX(-16vw);
  }
}
